form{
    border: 1px solid black;
    margin: 100px 0px 0px 0px;;
    border-radius:5px;
}
.form-cont{
    padding: 10px;
    
}
.form-title{
  
    color:black;
    font-size: 0.9em;
    padding: 10px;
}

input{
    margin:0px 0px 10px 5px;
    border-radius:5px;
}

input{
    width: 300px;
    height: 30px;
    padding: 5px;
}
select{
    margin:0px 0px 10px 5px; 
    width: 300px;
    height: 30px;
   
}
label{
    font-size: 0.7em;
    margin: 0px 0px 0px 4px;
    
}

.form{
   display: flex;
   align-items: center;
   flex-direction: column;
  height:200px;

  
}

input[type="submit"]{
    margin: 0px 0px 15px 0px;
}
.frg-pwd p{
    float: right;
    color:rebeccapurple;
    
}
.frg-pwd{
    margin: 0px 0px 15px 0px;
}