*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Lexend';
    src: local('Lexend'), url('../asset/font/Lexend/Lexend-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'Lexend', sans-serif;
}
.logo-cont{
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 15px;
}
.logo-cont img{
    width: 50px;

}
.blue-btn{
    padding: 5px;
    width:100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #1C91F2;
    color: #fff;
    margin: 10px 0px 0px 10px;
}
.cancel-btn{
    padding: 5px;
    width:100px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #fff;
   
    margin: 10px 0px 0px 10px;
}