@font-face {
    font-family: 'Lexend';
    src: local('Lexend'), url('../asset/font/Lexend/Lexend-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Lexend', sans-serif;
}

.logo-cont{
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 15px;
}
.logo-cont img{
    width: 50px;
}

.indx-body-left img{
    width:797px; 
}

.indx-body-right-top{
    width: 687px;
    font-size: 1.9em; 
    margin:0px 0px 30px 0px;
}
.indx-body-right {
    width:797px;
    margin:50px 0px 0px 0px;
}
.indx-body-right-middle{
    width: 477px;
}
.indx-body{
    display: flex;  
}

.indx-body-right-bottom{
    margin: 10px 0px 0px 0px;
}
