
.g-card{
    display:flex;
    justify-content: center;
    text-align: center;
    margin: 10px 0px 0px 0px;
    font-size: 30px; 
}

.g-card-inner{
    border: 2px solid black;
    padding: 10px;
    width:700px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.g-card-right {
    margin: 50px 0px 0px 0px;
}

.add-btn{
 border: none;
 background-color:white;
}

.add-prj-cont img{
    width: 50px;
}
.add-prj-cont{
    width:250px;
    padding: 30px 0px 0px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'kadwa', sans-serif;
    font-size: 10px;
}

#inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:10px 0px 0px 200px;
}
.chs-gud-ttl{
    margin:50px 0px 0px 50px;
}
.main-prj-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inner-prj-cont {
  
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.4); /* Use rgba for opacity */
    background-color: white; /* Ensure the background color is not fully opaque */
}

.heading{
    margin:10px 0px 0px 30px;
    font-size: 1.9em;
}